.battle-unit {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* три секции по горизонтали */
  grid-template-rows: 4fr 1fr;           /* верх 80%, низ 20% */
  height: 100%; /* тянется по родителю (например, 80vh) */
  gap: 10px;
}

.battle-process {
  display: contents; /* делает контейнер "прозрачным" для grid */
}

.battle-process > div {
  background: lightblue;
  padding: 10px;
}

.battle-logs {
  grid-column: 1 / -1; /* занимает всю ширину */
  background: lightgray;
  padding: 10px;
}

/* #itI,
#enemy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#itI img,
#enemy img {
    display: block;
    width: 50%;
    aspect-ratio: 2 / 3;
    border-radius: 10px;
}